# Python
__pycache__/
*.pyc
*.pyo
backend/.env
backend/venv/
backend/.venv/

# Node / Expo
mobile/node_modules/
mobile/.expo/
mobile/dist/

# General
.DS_Store
*.log
project.zip
*.zip
mobile/fcm-service-account.json
